<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <p class="text-shadow">
      <%= link_to 'AMPattern', root_path %> is a leading career portal helping career aspirants in their online Test. We publish best guidance and latest reading material to help our viewers in their upcoming competitive exams and interviews. This site will enlighten the nature and scope of interview questions that will be asked in various company interviews, keeping in view the present interviews scenario. Most companies use the same general questions during the interviews, and most of them are prepared for these queries, but when it comes about job specific questions, some candidates don't have enough preparation, in this section we carefully selected some commonly asked questions and their answers to help you be prepared for your job interview.Also one the important part of this website is that below we have listed all the Company Related Interview Questions and answers. Feel free to comment on any Company Related Interview Questions or answer by the comment feature available on the page...
      <%= link_to 'Read More', about_path %>
    </p>
  </div>
</div>
<hr>
<!-- /.row -->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-pencil-square fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">26</div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'Aptitude Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">Aptitude Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-book fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">12</div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'English Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">English Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-desktop fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">124</div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'Computer Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">Computer Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">13</div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'Reasoning Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">Reasoning Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Placement Papers </h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-calendar"></i> Calendar updated
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-comment"></i> Commented on a post
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-user"></i> A new user has been added
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-globe"></i> Saved the world
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                  </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-calendar"></i> Calendar updated
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-comment"></i> Commented on a post
                   </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-user"></i> A new user has been added
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-globe"></i> Saved the world
                  </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                  </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Add Questions </h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
<!-- /.row -->