<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=595694630445940";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<style type="text/css">
  label{
    font-weight: 100 !important;
  }
  input{
    width: 75%;
  }
  .active-menu-home a{
    background-color: #080808;
    color: #fff !important;
  }
</style>
<!-- Page Heading -->
<div class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Your comment is awaiting moderation.
</div>
<div class="row">
  <div class="col-lg-12">
    <p class="text-shadow">
      <%= link_to 'AMPattern', root_path %> is a leading career portal helping career aspirants in their online Test. We publish best guidance and latest reading material to help our viewers in their upcoming competitive exams and interviews. This site will enlighten the nature and scope of interview questions that will be asked in various company interviews, keeping in view the present interviews scenario. Most companies use the same general questions during the interviews, and most of them are prepared for these queries, but when it comes about job specific questions, some candidates don't have enough preparation, in this section we carefully selected some commonly asked questions and their answers to help you be prepared for your job interview.Also one the important part of this website is that below we have listed all the Company Related Interview Questions and answers. Feel free to comment on any Company Related Interview Questions or answer by the comment feature available on the page...
      <%= link_to 'Read More', about_path %>
    </p>
  </div>
</div>
<hr>
<!-- /.row -->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-pencil-square fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= aptitude_size %></div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'Aptitude Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">Aptitude Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-book fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= english_size %></div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'English Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">English Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-desktop fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= computer_size %></div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'Computer Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">Computer Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= reasoning_size %></div>
            <div>Questions</div>
          </div>
        </div>
      </div>
      <%= link_to question_path(ques_type: 'Reasoning Questions') do %>
        <div class="panel-footer">
          <span class="pull-left">Reasoning Questions</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-newspaper-o"></i> Placement Papers </h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <div class="list-group">
            <%= link_to 'IBM Questions', company_path(company_name: 'IBM'), class: "list-group-item" %>
            <%= link_to 'TCS Questions', company_path(company_name: 'TCS'), class: "list-group-item" %>
            <%= link_to 'CTS Questions', company_path(company_name: 'CTS'), class: "list-group-item" %>
            <%= link_to 'HCL Questions', company_path(company_name: 'HCL'), class: "list-group-item" %>
            <%= link_to 'IGate Questions', company_path(company_name: 'IGate'), class: "list-group-item" %>
            <%= link_to 'Wipro Questions', company_path(company_name: 'Wipro'), class: "list-group-item" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="list-group">
            <%= link_to 'Genpact Questions', company_path(company_name: 'Genpact'), class: "list-group-item" %>
            <%= link_to 'Huawei Questions', company_path(company_name: 'Huawei'), class: "list-group-item" %>
            <%= link_to 'Infosys Questions', company_path(company_name: 'Infosys'), class: "list-group-item" %>
            <%= link_to 'Accenture Questions', company_path(company_name: 'Accenture'), class: "list-group-item" %>
            <%= link_to 'Capgemini Questions', company_path(company_name: 'Capgemini'), class: "list-group-item" %>
            <%= link_to 'Hexaware Questions', company_path(company_name: 'Hexaware'), class: "list-group-item" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4" style="min-height: 300px">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-thumbs-up"></i> Like us on Facebook </h3>
      </div>
      <div class="fb-page" data-href="https://www.facebook.com/ampattern/" data-tabs="timeline" data-height="300px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ampattern/"><a href="https://www.facebook.com/ampattern/">AMPattern</a></blockquote></div></div>
    </div>
  </div>
</div>
<!-- /.row -->
<!-- Ads Start -->
<div class="row">
  <div class="col-lg-12">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ampattern_index_1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1440938179169907"
         data-ad-slot="5382083873"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
<!-- /.Ads Start -->

