<div class="row">
  <h2><%= params[:company_name] %> Questions</h2>
  <p class="header-line"></p>
</div>
<div class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Congratulations!</strong> Right Answer.
</div>
<div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Oops!</strong> Wrong Answer.
</div>
<% @questions.each_with_index do |question, i| %>
  <% if (i+1) % 5 == 0 %>
    <div class="row">
      <div class="col-sm-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ampattern_index_1 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1440938179169907"
           data-ad-slot="5382083873"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      </div>
    </div>
    <hr>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <div>
        <p><%= question.question %></p>
      </div>
      <div class="options">
        <div class="col-sm-6">
          <span style="position: absolute; padding: 1px;"></span>
          <span class="question-radio" data-option="<%= question.option1 %>" data-id="<%= question.id %>"><input type="radio" name="option" style="margin-right:5px;" /><%= question.option1 %></span>
        </div>
        <div class="col-sm-6">
          <span style="position: absolute; padding: 1px;"></span>
          <span class="question-radio" data-option="<%= question.option2 %>" data-id="<%= question.id %>"><input type="radio" name="option" style="margin-right:5px;" /><%= question.option2 %></span>
        </div>
        <div class="col-sm-6">
          <span style="position: absolute; padding: 1px;"></span>
          <span class="question-radio" data-option="<%= question.option3 %>" data-id="<%= question.id %>"><input type="radio" name="option" style="margin-right:5px;" /><%= question.option3 %></span>
        </div>
        <div class="col-sm-6">
          <span style="position: absolute; padding: 1px;"></span>
          <span class="question-radio" data-option="<%= question.option4 %>" data-id="<%= question.id %>"><input type="radio" name="option" style="margin-right:5px;" /><%= question.option4 %></span>
        </div>
        <span class="answer_<%= question.id %>" data-ans="<%= question.answer %>"></span>
      </div>
      <div class="col-sm-12" style="margin-top:15px; padding: 0;">
        <div class="col-sm-2 link" id="vote<%= question.id %>">
          <% if Vote.exists?(:ip => request.ip, :question_id => question.id) %>
            <%= link_to vote_path(question.id), style: "text-decoration: none;", method: 'post', remote: true  do %>
              <span style="color: #000;"><i class="fa fa-thumbs-up"></i> Like (<%= question.vote.count %>)</span>
            <% end %>
          <% else %>
            <%= link_to vote_path(question.id), style: "text-decoration: none;", method: 'post', remote: true  do %>
              <span><i class="fa fa-thumbs-up"></i> Like (<%= question.vote.count %>)</span>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-3 link">
          <span id="comment_<%= question.id %>"><i class="fa fa-comments"></i> Comments (<%= question.thread.filtered_comments.count.to_s %>)</span>
        </div>
        <div class="col-sm-3 link">
          <%= link_to question_path(ques_type: question_name(question.question_type_id)), style: "text-decoration: none;" do %>
          <span><i class="fa fa-folder-open"></i> <%= question_name(question.question_type_id) %></span>
          <% end %>
        </div>
        <div class="col-sm-4 link">
          <span><i class="fa fa-user"></i> <%= question_posted_by(question) %></span>
        </div>
      </div>
      <div id="comment_box_<%= question.id %>">
        <div class="row">
          <div class="col-sm-12">
            <div class="comment_box">
              <%= commontator_thread(question) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<script type="text/javascript">
  $('#comment_box_<%= question.id %>').hide()
  $('#comment_<%= question.id %>').on("click", function(){
    if($('#comment_box_<%= question.id %>').is(':visible')){
      $("#comment_box_<%= question.id %>").slideUp();
      $('#comment_<%= question.id %> span').css("color", "#777");
    }
    else{
      $("#comment_box_<%= question.id %>").slideDown();
      $('#comment_<%= question.id %> span').css("color", "#000");
    }
  });
</script>
<% end %>
<%= paginate @questions %>
<script type="text/javascript">
  // answer check start
  $('.question-radio').on('click', function(){
    user_ans = $(this).data('option');
    user_id = $(this).data('id');
    answer = $('.answer_'+user_id).data('ans')
    if(user_ans == answer)
    {
      $(this).prev().html('<div class="right-ans"></div>');
      $(".alert-success").fadeTo(2000, 500).slideUp(500);
    }
    else
    {
      $(this).prev().html('<div class="wrong-ans"></div>');
      $(".alert-danger").fadeTo(2000, 500).slideUp(500);
    }
  });
  // answer check end
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- questions_page_1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1440938179169907"
     data-ad-slot="9063260270"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>